{% extends 'base.html' %}
{% block content %}

<h1>Buyer Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ buyer.name }}</span>
        <p>Bid: ${{ buyer.bid }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'buyers_update' buyer.id %}">Edit</a>
        <a href="{% url 'buyers_delete' buyer.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}